.header {
	position: relative;
	height: 47px;
	background: #f6f6f6;
	font-family: 'WeblySleek UI Semibold';
	font-size: 14px;
	padding: 0 15px 0;
	line-height: 47px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.header .left-controls {
	position: relative;
	width: 340px;
	left: 0;
	top: 0;
}

.header .right-controls {
	position: absolute;
	width: 260px;
	right: 0;
	top: 0;
}

.header .name {
	display: inline;
	vertical-align: top;
}

.header .games-menu {
	position: absolute;
	left: 0;
	color: #767993;
}

.header .search {
	position: absolute;
	right: 0;
	color: #767993;
}

.header .games-menu:before {
	content: "\E001";
	font-family: 'icons';
	font-size: 22px;
}

.header .community:before {
	content: "\E000";
	font-family: 'icons';
	font-size: 22px;
}

.header .community {
	position: absolute;
	left: 0;
	color: #767993;
}

.header .search:before {
	content: "\E003";
	font-family: 'icons';
	font-size: 22px;
}