.game-section {
	font-family: 'WeblySleek UI Semibold';
}

.game-section .section-title {
	font-size: 16px;
	padding: 0 8px;
	line-height: 2em;
	background: #d6d6d7;
	text-transform: uppercase;
}

.game-section .container {
	padding: 0;
}