.game-details {
	position: relative;
	background: #f6f6f6;
	padding: 8px 8px 20px;
	height: 465px;
	box-sizing: border-box;
} 

.game-details .top-container {
	position: relative;
}
 
.game-details .game-image {
	display: inline-block;
	vertical-align: top;	
} 

.game-details .game-title {
	font-size: 32px;
	line-height: 1.8em;
	font-family: 'WeblySleek UI Semibold';
	color: #fb5252;
} 

.game-details .game-info {
	display: inline-block;
	position:absolute;
	top: 0;
	right: 0;
	vertical-align: top;
	width: 485px;
	height: auto;
	padding-bottom: 70px;
}

.game-details .game-info .download-button{
	position:absolute;
	bottom: 0;
	right: 0;	
} 

.game-details .game-info .delete-button{
	position:absolute;
	bottom: 0;
	left: 0;	
} 

.game-details .game-info .game-description {
	line-height: 2em;
	overflow-y: scroll;
	max-height: 100px;
} 

.game-details  .jackpot {
	color: #5f5f5f;
	font-family: 'WeblySleek UI Semibold';
	font-size: 14px;
	margin-bottom: 2em;
	min-height: 18px;
}